<%= form_with(model: admin_banner) do |form| %>
  <% if admin_banner.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_banner.errors.count, "error") %> prohibited this admin_banner from being saved:</h2>

      <ul>
        <% admin_banner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-2">
    <%= form.label :name ,class: "form-label" %>
    <span class="mark-required"> * </span>
    <%= form.text_field :name, class: "form-control", required: true%>
  </div>
  <div class="field mb-2">
    <%= form.label :link,class: "form-label" %>
    <%= form.text_field :link , class: "form-control", required: true%>
  </div>
  <div class="field mb-2">
    <%= form.label :image, class: "form-label" %>
    <span class="mark-required"> * </span>
    <%= form.file_field :image, class: "form-control", required: true%>
  </div>
  <div>
   
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
